extends /common/pug/layout

block content
  h1 Static Website Template
  p
    a(href="https://cloud.google.com/storage/docs/hosting-static-website").
      Hosting a static website on Google Cloud
  p
    a(href="https://github.com/nathanbuchar/static-site-template/").
      GitHub source
  p
    a(href="/test").
      Test page
